

    <form action="">
        <h1>Search by Title or Author</h1>
        <input type="text" id="searchBar" placeholder="Enter a Title or Author"><br>
        <fieldset>
           <label> Author
               <input type="radio" name="searchBy" id="author" value="author" required>
            </label><br>
            <label for="title">Title
                <input type="radio" name="searchBy" id="title" value="title" required>
            </label><br>
        </fieldset>
        
        <button>Submit</button>
    </form>

